@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;

}

ul {
  list-style: none;
}

h1 {
  font-size: 200px;
  letter-spacing: 10px;
  color: grey;
}

.grey {
  color: grey;
}
/* Navbar  */
header {
  /* width: 100%; */
  height: 100px;
}

header .navbar {
  /* max-width: 1240px; */
  height: 100%;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 80px;
  /* height: auto; */
}

header .toggler {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  z-index: 99;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-self: center;
}

.nav-link {
  text-decoration: none;
}
.nav-item {
  padding: 0 1.5rem;
}
.nav-link {
  color: white;

  display: inline-block;
  position: relative;
}

.nav-link:after {
  background:  none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #fff;
  transition: 0.5s ease-out;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}


@media screen and (max-width: 960px) {
  header .toggler {
    position: fixed;
    display: block;
    cursor: pointer;
  }

  header .nav-menu {
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    color: black;
    right: -100%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    transition: 0.4s;
    z-index: 99;
  }

  header .nav-menu.active {
    right: 0;
    /* position: fixed; */
  }

  .nav-link {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    padding: 5px 0 0 0;
  }

  .nav-link:after {
  background:#000;
  }

 

}

/* Hero */
.slider {
  max-width: 100%;
  height: 7vh;
}

.slider .container {
  /* max-width: 1240px; */
  
  padding: 0 1rem;
  margin: auto;
}

.slider .col {
  display: flex;
  flex-direction: row;
  padding: 5rem 0 6rem 0;
  overflow-x: scroll;
}

.slider .vid video {
  max-width: 520px;
}

::-webkit-scrollbar {
width: 10%;
height: 3px;}


::-webkit-scrollbar-track {

  box-shadow: inset 0 0 3px grey;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: gray;
}
::-webkit-scrollbar-button {
  width: 250px;
}

.slider .abs {
margin: 15px 0 0 20px;
}

 /* video {
  transition: 1s ease-in-out;
}

 video {
  opacity: 0.2;
}

 video:hover {
  opacity: 1;
} */



@media screen and (max-width: 960px) {
  
  .slider .container {
    padding: 0;
  }
  .slider .content .vid {
    position: relative;
    /* width: 4px; */
    height: 25vh;
    top: 50%;

  }

  .slider .abs {
    position: absolute;
    top: 50%;
  }

  .slider .col {
    padding: 0;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }

}

/* Contact */
.contact {
  width: 100%;
  height: 100vh;
}
.contact .ok {
  position: absolute;
  padding: 5% 0 0 25%;
}

.contact .container {
  max-width: 1240px;
  padding: 0 1rem;
  margin: auto;
}

.contact .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact .col-1 {
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .image img {
  width: 100%;
}

.contact .col-2 {
  padding: 20rem 0 0 4rem;
}

.contact .para {
  margin: 0 0 2rem 0;
}

.contact .spacing {
  margin: 0 1rem 0 1rem;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 50px;
  }

  .contact .col-2 {
    padding: 10rem 0 0 1rem;
  }

  .contact .image img {
    width: 100%;
  }
}

